:root {
    --primary: blue;
}

.btn {
    position: relative;
    padding: 80px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    color: rgb(44, 83, 83);
    transition: 250ms;
}

.btn--primary {
    background-color: rgb(135, 177, 171);
}

.btn--outline {
    background-color: azure;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
}