style>
.navbar-custom {
    background-color: rgb(83, 83, 83);
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
.container {
    display: block;
    width: 100%;
  }
  
  .card {
    border: 2px solid black;
    float: left;
    margin: 45px;
    padding: 11px 3px;
    /*setting width for each and every card element as well as -10px for removing the margin width for 5 elements*/
    width: calc( 120% / 3 - 1px);
  }
  
  
  /*first element*/
  
  .container .card:first-child {
    margin-left: 0;
  }
  
  
  /*last element of the first row*/
  
  .container .card:nth-child(5n) {
    margin-right: 0;
  }
  
  
  /*first-element of the 2nd row*/
  
  .container .card:nth-child(5n+1) {
    margin-left: 0;
  }
  
  
  /*last element*/
  
  .container .card:last-child {
    margin-right: 0;
  }

  .footer-custom {
    background-color: rgb(83, 83, 83);
    color: white;
    position: absolute;
    width: 100%;
}