
body {
  background-image: linear-gradient(to right, #878787, #747474, #686868, #494949, #3b3b3b, #272727) !important;
}

.main-footer {
  width: 100%;
}

h5 {
  margin-block-start: 0%;
  margin-block-end: 0%;
}



