
body {
    background-color: black;
  }
  
  .main-footer {
    width: 100%;
  }
  
  h5 {
    margin-block-start: 0%;
    margin-block-end: 0%;
  }
  

.container{
    background-color: black;
}
  
  